<html>
  <div id="ua-footer">
    <div class="container" style="margin-bottom: -20px">
      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2" style="padding-top: 16px">
          <a class="fa fa-twitter-square fa-lg" aria-hidden="true" href="https://twitter.com/ualberta_igem"></a>
          <a class="fa fa-facebook-square fa-lg" aria-hidden="true" href="https://www.facebook.com/ualbertaigem2017"></a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</html>