<html>
  <footer>
    <div id="ua-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
          </div>
          <div class="col-lg-3" style="padding-top: 16px">
            <a class="fa fa-facebook-square fa-lg" aria-hidden="true" href="https://www.facebook.com/ualbertaigem2017"></a>
            <a class="fa fa-twitter-square fa-lg" aria-hidden="true" href="https://twitter.com/ualberta_igem"></a>
            <a class="fa fa-github fa-lg" aria-hidden="true" href="https://github.com/DavetheBrave19/iGEM-2017-UAlberta"></a>
            <a class="fa fa-envelope fa-lg" aria-hidden="true" href="mailto:igem.ualberta@gmail.com"></a>
            <h2>igem.ualberta@gmail.com</h2>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </footer>
<script type="text/javascript" src="http://2017.igem.org/Template:UAlberta/JS?action=raw&ctype=text/javascript"></script>
</html>
