<html>
  <nav id="ua-main-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smooth" href="http://2017.igem.org/Team:UAlberta/Description"><span><img src="http://wec2017.ca/images/UofALogo-500x500.png" width="20px" height="20px"></span>UAlberta</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="smooth" href="#ua-index1">About</a></li>
          <li><a class="smooth" href="#ua-index2">More Information</a></li>
          <li><a href="http://2017.igem.org/Team:UAlberta/Description">Home</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</html>